[data-theme="light"] {
    --back-color : white;
    --fore-color : black;
}

/* The dark theme */
:root {
    --back-color : black;
    --fore-color : white;
}

body {
	background-color: var(--back-color);
	color: var(--fore-color);
}
