.light-dark-switcher {
    position: absolute;
    right: 0px;
    margin: .5em;
    width: 120px;
}

.light-dark-label {
    height: 2em;
}

.switch input {
    width: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 37px;
    right: 0;
    width: 60px;
    height: 34px;
    background-color: #444;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
